.findDoctorsBanner {
  background: url("https://www.practostatic.com/web-assets/home/assets/images/homepage.06859593240c3efd483fe48951cfe6ff.svg");
  min-height: 460px;
  background-attachment: fixed;
  background-position-y: 60px;
  .headerContainer {
    padding-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
  }
  .subHeading {
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
  }
  .findDoctorsSearchContainer {
    display: flex;
    justify-content: center;
    .searchContainerClass {
      padding: 0 !important;
    }
    .searchHeight {
      height: 50px !important;
    }
  }
  .popularSearches {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    .popularSearchLabel {
      color: #8d93b3;
    }
    .popularSearchList {
      display: flex;
      color: #8d93b3;
      .popularSearchItem {
        margin-left: 25px;
        cursor: pointer;
        color: #8d93b3;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color: #fff;
        }
      }
    }
  }
}
.dataSecurityInfoWrapper {
  padding: 108px 0;
  background-color: #f0f0f5;
  .dataSecurityInfo {
    display: flex;
    .highlights {
      font-size: 40px;
      width: 50%;
      margin-bottom: 20px;

      .highlightsTitle {
        margin-bottom: 20px;
        > h2 {
          line-height: 48px;
          color: #414146;
        }
      }
    }
    .highlightsList {
      .listItem {
        display: flex;
        height: 33.5px;
        .listItemDesc {
          line-height: 1.4;
          color: #737382;
          font-size: 18px;
        }
        .checkIcon {
          margin-left: 0.2rem;
          margin-right: 0.2rem;
          height: 24px;
        }
      }
    }
    .securytImageWrapper {
      position: relative;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .securtyImage {
      }
    }
  }
}

.fontWeight700 {
  font-weight: 700;
}

.sectionContainer {
  padding: 0 100px;
  width: 100%;
}

.bgGray {
  background-color: #f0f0f5;
}

.readMoreBtnWrapper {
  margin-top: 25px;
  .readMoreBtn {
    background: #199fd9 !important;
    height: 40px;
    border-radius: 2px;
    width: 128px;
    // :global {
    //   &.ant-btn-primary:hover {
    //     background: #13bef0 !important;
    //   }
    // }
  }
}

.certificatesList {
  display: flex;
  width: 925px;
  padding-top: 50px;
  margin: 0 auto;
  .certificateWraper {
    width: 23%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .certificateInfo {
      margin-top: 20px;
    }
  }
}
