.filterTop {
  background: #28328c;
  .filterTopWrapper {
    width: 1180px;
    margin: auto;
    padding: 8px 0;
    display: flex;
    align-items: center;
  }
}

.mr16 {
  margin-right: 16px;
}
