.doctorSpecialityCard {
  width: 280px;
  cursor: pointer;
  margin: 0 10px;
}

.cardImg {
  border-radius: 4px;
}

.info {
  margin-top: 12px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.subTitle {
  color: #414146;
  font-size: 14px;
}

.doctorSpecialityCards {
  .sectionHeader {
    .title {
      font-size: 24px;
      font-weight: 700;
      color: #414146;
      margin-top: 15px;
    }
    .subTitle {
      color: #414146;
      margin-top: 5px;
    }
  }
  .doctorSpecialityCardsCarousel {
    margin-top: 20px;
  }
}
.doctorSpecialityCard:hover .title {
  color: #14bef0; 
}
.doctorSpecialityCard:hover .cardImg{
  cursor: pointer;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .1);
  transition: box-shadow .3s ease, border .3s ease;
}

